{%- doc -%}
  Renders the blog post published date.
{%- enddoc -%}

{% assign display_date = article.published_at %}

<div
  class="blog-post-date spacing-style"
  style="
    text-align: {{ block.settings.alignment }};
    {% render 'spacing-style', settings: block.settings %}
  "
  {{ block.shopify_attributes }}
>
  <time datetime="{{ display_date | date: '%Y-%m-%d' }}">
    {% case block.settings.date_format %}
      {% when 'date' %}
        {{ display_date | date: '%B %d, %Y' }}
      {% when 'short' %}
        {{ display_date | date: '%b %d, %Y' }}
      {% when 'numeric' %}
        {{ display_date | date: '%m/%d/%Y' }}
      {% when 'relative' %}
        {{ display_date | date: '%s' | minus: 'now' | date: '%s' | divided_by: 86400 | abs }} days ago
    {% endcase %}
  </time>
</div>

{% stylesheet %}
  .blog-post-date {
    font-size: var(--font-paragraph-size);
    color: rgb(var(--color-foreground-rgb) / var(--opacity-subdued-text));
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Date",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "date_format",
      "label": "Date format",
      "options": [
        {
          "value": "date",
          "label": "April 3, 2026"
        },
        {
          "value": "short",
          "label": "Apr 3, 2026"
        },
        {
          "value": "numeric",
          "label": "04/03/2026"
        }
      ],
      "default": "date"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
